// Specific CSS for your home-page

body {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('Pink-City-Pixelart.webp');
  background-color: #333;
  overflow: hidden;
}

.container {
  margin: auto;
}

h1 {
  font-size: 3rem;
  color: #ffffff;
  min-height: calc(70vh - 44px);
  display: flex;
  align-items: center;
}

.select {
  min-height: calc(100vh - 44px);
  font-size: 1.8rem;
}

.eightbit-btn {
  font-size: 16px;
  text-decoration: none;
  background-color: #76c442;
  color: #fff;

}

.footer {
  font-size: 0.9rem;
  text-align: center !important;
  color: #fff !important;
  opacity: 95% !important;
  padding: 10px 0;
  position: fixed;
  bottom: 0;
  width: 90%;
}

 /* 8-bit button */
